---
const { slug, title, tags, description, date } = Astro.props;
---

<li class="my-8">
  <a href={`/post/${slug}/`} class="text-xl">{title}</a>
  <time class="italic text-gray" datetime={date}>
    {
      new Date(date).toLocaleDateString("en-us", {
        year: "numeric",
        month: "short",
        day: "numeric",
      })
    }
  </time>
  <br />
  {description && <span class="excerpt">{description}</span>}
  <div>
    {
      tags &&
        tags.map((tag) => (
          <a
            class="inline-block mr-5 text-black dark:text-gray text-sm hover:font-bold"
            href={`/tag/${tag}`}
          >
            #{tag}
          </a>
        ))
    }
  </div>
</li>
